.list {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 600;
        font-size: 18px;
        color: var(--black);
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-right: 38px;
    
    }
        .list:last-child {
            margin-right: 0px;   }
.link.active {
    border-bottom: 1px solid var(--black); }
@media (min-width: 768px) {
    .list {
        font-size: 12px;
    }
}

.totalRecipes{
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 600;
        font-size: 18px;
        color: var(--black);
}
@media (min-width: 1440px) {
    .totalRecipes {
        margin-bottom: 24px;
    }
}