.section {
  padding-top: 128px;
  padding-bottom: 98px;
  position: relative;
  width: 100%;

  background-color: #2e2f42;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.3)
    ),
    url("./src/img/background-hero.jpg");
  background-size: cover;
  background-position: center left 40%;
  background-repeat: no-repeat;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 329px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.23;
  color: #ffffff;
}

.searchDiv {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;

  height: 46px;
  max-height: 48px;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.input::placeholder {
  color: #9f9f9f;
}

.input:focus {
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
  border: 1.5px solid #d9d9d9;
}

.btnSearch {
  background-color: #9b6c43;
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  height: 46px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnSearch:hover {
  background-color: #6d554b;
}

/* .btnSearch:focus {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px var(--white);
} */

@media (min-width: 768px) {
  .section {
    padding-bottom: 128px;
    height: 443px;
  }

  .container {
    width: 704px;
  }

  .title {
    font-size: 48px;
    line-height: 1.1;
    width: 442px;
  }

  .searchDiv {
    flex-direction: row;
  }

  .input {
    width: 471px;
  }

  .btnSearch {
    width: 176px;
  }
}

@media (min-width: 1440px) {
  .section {
    background-size: 100%;
    background-position: center top 40%;
  }

  .title {
    line-height: 1.22;
  }

  .container {
    width: 1225px;
  }

  .searchDiv {
    gap: 12px;
  }

  .input {
    width: 459px;
  }

  .btnSearch {
    width: 190px;
  }
}
