.container {
  width: 100%;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  max-width: 361px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 704px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1225px;
  }
}
