/* container styles */
.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.section {
  padding: 24px 0;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 32px;
  }
  .section {
    padding: 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding: 0 107.5px;
  }
  .section {
    padding: 24px 0;
  }
}
/* 320px styles */
.imageBox {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
}
.mainRecipeTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
  color: var(--black);
}
.resipeImage {
  width: 100%;
  object-fit: cover;
}
.flexBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.aboutBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* 768px styles */
@media screen and (min-width: 768px) {
  .imageBox {
    flex-direction: column;
  }
  .mainRecipeTitle {
    font-size: 48px;
    line-height: 1.1;
  }
}
/* 1280px styles */
@media screen and (min-width: 1280px) {
  .flexBox {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
  }
  .aboutBox {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
