.list {
    display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 24px;
        margin-bottom: 24px;
}
.item {

    padding: 12px;
    background-color: var(--light-beige);
    width: 100%
}
@media (min-width:768px) {
    .item {
        width: calc((100% - 24px) /2);
    }

    

}

@media (min-width:1440px) {
    .item {
        width: calc((100% - 3*24px) /4);
    }

    

}