@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.link {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  transition: color 0.3s ease;
  box-sizing: border-box;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  width: 100%;
  border-radius: 50px;
  background-color: var(--white);
  pointer-events: none;
}

.link:not(.active)::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  width: 0;
  border-radius: 50px;
  background-color: var(--white);
  transition: width 0.3s ease;
  pointer-events: none;
}

.link:not(.active):hover {
  color: var(--light-gray);
}

.link:not(.active):hover::after {
  width: 100%;
}

.list {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}
.list > li {
  width: 100%;
}
.button {
  height: 44px;
  color: var(--white);
  background: var(--light-brown);
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  max-width: 361px;
  text-align: center;
  height: 44px;
}
.button:hover {
  color: var(--light-gray);
  background: var(--brown);
}
