.svg {
  width: 24px;
  height: 28px;
  stroke: var(--white);
  fill: none;
  &:hover {
    stroke: var(--light-gray);
    cursor: pointer;
  }
}

.svg:hover,
.svg:active{
  transform: scale(1.5);
}
.stick {
  width: 1px;
  height: 39px;
  background-color: var(--white);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 123px;
  height: 39px;
  gap: 16px;
}
.name {
  font-weight: 600;
  font-size: 12px;
  color: var(--white);
}
.icon {
  width: 32px;
  border-radius: 32px;
  height: 32px;
  background-color: var(--light-brown);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
