.link {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  color: var(--white);
  transition: color 0.3s ease;
  box-sizing: border-box;
}

.active {
  position: relative;
  height: 44px;
  color: var(--light-gray);
  background: var(--brown);
  border-radius: 8px;
  padding: 12px 16px;
  width: 101px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
}

.link:not(.active)::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 1px;
  width: 0;
  border-radius: 50px;
  background-color: var(--white);
  transition: width 0.3s ease;
  pointer-events: none;
}

.link:not(.active):hover {
  color: var(--light-gray);
}

.link:not(.active):hover::after {
  width: 100%;
}

.active:focus,
.active:hover {
  height: 44px;
  color: var(--white);
  background: var(--light-brown);
  border-radius: 8px;
  padding: 12px 16px;
  width: 101px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
 
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1440px) {
  .list {
    gap: 32px;
  }
}
