.formContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 393px;
  background-color: var(--background);
  padding: 0 16px;
  border: 1px solid var(--light-gray-3);
}
.noImage {
  width: 100%;
  height: 382px;
  border-radius: 16px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.formTitle {
  font-weight: 600;
  font-size: 40px;
}

.sectionTitle {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 16px;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formList {
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}
.cookingSection {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.selectContainer {
  min-width: 48%;
}
.formInput {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  color: var(--black);
  background-color: var(--white);
}
.formListConasiner {
  padding-bottom: 32px;
}

.textarea {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  height: 144px;
  color: var(--black);
  background-color: var(--white);
}

.ingredientRow {
  position: relative;
  width: 100%;
  display: flex;
  border: 1px solid var(--light-gray-3);
  padding: 16px 0px;
}

.spanIngredient {
  width: 50%;
}

.spanIcon {
  position: absolute;
  top: 30%;
  right: 2%;
  fill: none;
  stroke: var(--black);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.button {
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  background: var(--light-brown);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
}

.button:hover {
  background-color: var(--brown);
  transform: scale(0.95);
}

.bntContainer {
  margin-bottom: 48px;
}
.error {
  color: var(--red);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .formContainer {
    max-width: 768px;
    padding: 0 32px;
  }

  .noImage {
    height: 457px;
  }

  .formSection {
    gap: 32px;
  }

  .formTitle {
    font-size: 48px;
  }

  .sectionTitle {
    font-size: 32px;
    padding-bottom: 24px;
  }

  .generalContainer {
    gap: 32px;
  }

  .cookingSection {
    display: flex;
    flex-direction: row;
    gap: 17px;
  }

  .tabletContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .formListTablet{
    padding-bottom: 17px;
  }

  .formTablet {
    width: 431px;
  }
  .formInputTablet {
    width: 249px;
  }

  .ingredientRow {
    width: 431px;
    padding: 16px 0px;
  }

  .spanIngredient {
    width: 45%;
  }

  .addButton {
    margin-left: 455px;
    width: 249px;
    padding: 8px;
  }

  .spanIcon {
    top: 30%;
    right: 12%;
  }

  .button:hover {
    transform: scale(0.98);
  }
}
@media screen and (min-width: 1158px) {}