.section {
  position: relative;
  width: 100%;
  height: 700px;
}
.container {
  background-color: var(--light-beige);
  color: var(--darck-brown-65-);
  height: 60%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backHome {
  text-decoration: underline;
}
.caption {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headText {
  text-transform: capitalize;
  color: var(--darck-brown-65-);
  font-family: "Satisfy", cursive;
  font-size: 60px;
  position: relative;
  left: 30px;
}
.hatCont {
  height: 75px;
  width: 75px;
  position: relative;
  transform: rotate(-30deg);
  top: -15px;
  animation: hat 1s infinite forwards;
}
@keyframes hat {
  0%,
  100% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-25deg);
  }
}
.hat {
  height: 30px;
  width: 40px;
  border: 2px solid var(--darck-brown-65-);
  border-top: none;
  position: absolute;
  bottom: 0px;
  left: 15px;
}
.hat::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  border: 1px solid var(--darck-brown-65-);
  bottom: 7px;
  left: 0px;
}
.lines,
.lines::after,
.lines::before {
  width: 0px;
  height: 6px;
  border: 1px solid var(--darck-brown-65-);
  position: absolute;
}
.lines {
  top: 50px;
  left: 38px;
}
.lines::after {
  content: "";
  top: -1px;
  left: 10px;
}
.lines::before {
  content: "";
  top: -1px;
  right: 10px;
}
.left,
.leftOpp {
  height: 30px;
  width: 15px;
  position: absolute;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border: 2px solid var(--darck-brown-65-);
  border-right: none;
  top: 13px;
  z-index: 2;
  background-color: var(--light-beige);
}

.leftOpp {
  transform: rotate(180deg);
  right: 5px;
}
.top {
  height: 20px;
  width: 40px;
  position: absolute;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  left: 14px;
  border: 2px solid var(--darck-brown-65-);
  border-bottom: none;
  background-color: var(--light-beige);
}

.panWrapper {
  transform: scale(0.6);
  position: relative;
  left: 20%;
}
.center {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #8a8f99;
  position: relative;
  z-index: 2;
  border: 1px solid var(--darck-brown-65-);
}
.center,
.center::after,
.center::before {
  font-size: 240px;
  font-family: "Satisfy", cursive;
  position: absolute;
  top: 20%;
  color: #232732;
}
.center::after {
  content: "4";
  right: -150px;
}
.center::before {
  content: "4";
  left: -150px;
}
.subCenter {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  background-color: #232732;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}
.handle {
  height: 150px;
  width: 40px;
  position: absolute;
  left: 263px;
  top: 280px;
  transform: rotate(-35deg);
  background-color: #232732;
  z-index: 2;
  border-radius: 2px;
}
.handleSub {
  height: 50px;
  width: 25px;
  content: "";
  display: inline-block;
  position: absolute;
  left: 220px;
  top: 260px;
  transform: rotate(-38deg);
  background-color: #8a8f99;
}

.egg {
  width: 130px;
  height: 130px;
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: egg 2s ease-in infinite forwards;
}
@keyframes egg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.yolk {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #f9d010;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  box-shadow: inset 50%, inset rgba(var(white), 0.3) 2px 2px 4px 6px,
    inset #f9d010 2px 2px 4px 16px,
    inset rgba(var(white), 0.3) -2px -2px 12px 12px,
    rgba(var(--black), 0.05) 0 0 2px 2px;
}
